$--wtcp-vertical-bumpers-size: 48px;
$--wtcp-line-divider: rgba(255, 255, 255, 0.1);
$--header-title-row-height: 64px;
$--button-row-height: 52px;
$--iron-icon-width: 24px;
$--iron-icon-height: 24px;
$--icon-standard-length: 24px;
$--icon-standard-padding: 6px;
$--paper-dialog-background-color: #282828;
$--primary-background-color: #fff;
$--paper-dialog-color: #fff;
$--primary-text-color: #212121;
$--wtcp-icon-inactive: #909090;
$--wtcp-general-background-a: #1f1f1f;
$--wtcp-text-primary: #fff;
$--wtcp-general-background-b: #161616;
$--wtcp-general-background-b-a0: rgba(22, 22, 22, 0);
$--wtcp-text-secondary: #aaa;
$--wt-spec-text-primary-inverse: #030303;
$--wtcp-themed-blue: #3EA6FF;