$--wtcp-vertical-bumpers-size: 48px;
$--wtcp-line-divider: rgba(255, 255, 255, 0.1);
$--header-title-row-height: 64px;
$--button-row-height: 52px;
$--iron-icon-width: 24px;
$--iron-icon-height: 24px;
$--icon-standard-length: 24px;
