$--wtcp-vertical-bumpers-size: 48px;
$--wtcp-line-divider: rgba(255, 255, 255, 0.1);
$--header-title-row-height: 64px;
$--button-row-height: 52px;
$--iron-icon-width: 24px;
$--iron-icon-height: 24px;
$--icon-standard-length: 24px;
$--icon-standard-padding: 6px;
$--paper-dialog-background-color: #282828;
$--primary-background-color: #fff;
$--paper-dialog-color: #fff;
$--primary-text-color: #212121;
$--wtcp-icon-inactive: #909090;
$--wtcp-general-background-a: #1f1f1f;
$--wtcp-text-primary: #fff;
$--wtcp-general-background-b: #161616;
$--wtcp-general-background-b-a0: rgba(22, 22, 22, 0);
$--wtcp-text-secondary: #aaa;
$--wt-spec-text-primary: #f1f1f1;
$--wt-spec-text-primary-inverse: #030303;
$--wtcp-themed-blue: #3EA6FF;
$--wtcp-error-red: #FF8983;
$--metadata-editor-left-col-min-width: 536px;
$--wtcp-icon-disabled: #606060;
$--wtcp-xxl-border-radius: 24px;
$--wtcp-extended-border-radius: 12px;
$--outgoing-curve: cubic-bazier(0.4, 0, 1, 1);
$--wtcp-chip-background: rgba(255, 255, 255, 0.1);
$--wtcp-brand-background-solid: #282828;
$--color-regular: #fff;
$--icon-color: #fff;
$--wtcp-text-primary-inverse: #0d0d0d;
$--wtcp-call-to-action-raised-background: #fff;
$--wtcp-call-to-action: #fff;
$--wt-spec-badge-chip-background: rgba(255, 255, 255, 0.1);
$--wtcp-form-fields-gap: 24px;
$--wtcp-m-border-radius: 8px;
$--wtcp-container-border-color: #606060;
$--wtcp-form-field-horizontal-padding: 12px;
$--wtcp-container-border: 1px solid #606060;
$--wtcp-container-border-radius: 8px;
$--wtcp-font-caption1-baseline-top: 12px;
$--wtcp-font-subheading-baseline-bottom: 7px;
$--wtcp-form-input-container-padding: null;
$--wtcp-focus: #fff;
$--wtcp-social-suggestions-textbox-input-min-height: 108px;
$--wtcp-form-input-container-child-input-height: calc(100% - 40px);
$--wt-spec-mono-filled-hover: #d9d9d9;
$--wt-spec-base-background: #0f0f0f;
$--wt-spec-icon-active-other: #fff;
$--wt-icon-button-icon-width: 24px;
$--wt-icon-button-icon-height: 24px;
$--wt-spec-touch-response: #fff;
$--wt-spec-wordmark-text: #fff;
$--wt-spec-text-secondary: #aaa;
$--wt-spec-additive-background: rgba(255, 255, 255, 0.1);
$--wtd-searchbox-background: hsl(0, 0%, 7%);
$--wtd-searchbox-legacy-border-color: hsl(0, 0%, 18.82%);
$--wtd-searchbox-legacy-border-shadow-color: hsla(0, 0%, 0%, 0);
$--wtd-searchbox-text-color: hsla(0, 100%, 100%, 0.88);
$--wt-spec-icon-inactive: #fff;
$--wt-icon-width: 40px;
$--wt-icon-height: 40px;
$--wt-spec-10-percent-layer: rgba(255, 255, 255, .2);
$--wtd-searchbox-legacy-button-hover-border-color: hsl(0, 0%, 18.82%);
$--wtd-searchbox-legacy-button-hover-color: hsla(0, 0%, 100%, .08);
$--paper-tooltip-delay-in: 1ms;
$--paper-tooltip-duration-in: 150ms;
$--paper-tooltip-delay-out: 0ms;
$--paper-tooltip-duration-out: 75ms;
$--wt-spec-menu-background: #282828;
$--wt-spec-static-overlay-background-light: rgba(0, 0, 0, .1);
$--paper-item-min-height: 40px;
$--wt-spec-outline: rgba(255, 255, 255, .2);
$--wtd-icon-color: #717171;
$--wtd-icon-promo-height-default: 120px;
$--wtd-icon-promo-width-default: 120px;
$--wt-spec-call-to-action: #3ea6ff;
$--wt-spec-icon-disabled: #717171;
$--app-drawer-width: 240px;
$--app-drawer-content-container-background-color: #0f0f0f;
$--wtd-toolbar-height: 56px;
$--wt-endpoint-color: #f1f1f1;
$--wt-spec-brand-icon-active: #fff;
$--wt-spec-brand-icon-inactive: #fff;
$--wt-spec-static-brand-red: #f03;
$--wt-spec-themed-blue: #3ea6ff;
$--wt-spec-text-disabled: #717171;
$--wtd-mini-guide-width: 72px;
$--wtd-persistent-guide-width: 240px;
$--wtd-rich-grid-chips-bar-top: 56px;
$--wtd-margin-3x: 12px;
$--wt-spec-button-chip-background-hover: rgba(255, 255, 255, .2);
$--wtd-rich-grid-row-margin: 40px;
$--wtd-rich-grid-item-max-width: 500px;
$--wt-spec-static-overlay-text-primary: #fff;
$--wt-spec-static-overlay-backgroun-medium: rgba(0, 0, 0, .6);
$--wt-spec-static-overlay-backgroun-heavy: rgba(0, 0, 0, .8);
$--wt-badge-letter-spacing: 0.35px;
$--wtd-channel-name-badges-margin-right: 8px;
$--wtd-rich-grid-content-offset-top: 112px;
$--wt-feed-filter-chip-bar-margin-left-first-item: 0;
$--wt-spec-brand-background-primary: #212121;
$--wt-spec-raised-background: #212121;
$--wt-spec-red-indicator: #e1002d;
$--wtd-margin-6x: 24px;
$--wtd-text-inline-expander-button-color: #f1f1f1;
$--wtcp-standard-border-radius: 8px;
