@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/youtube-sans');

@import "./preset/reset.scss";
@import "./preset/variables.scss";

@import "./components/create-video.scss";
@import "./components/studio-masthead.scss";
@import "./components/animation.scss";
@import "./components/masthead.scss";

a {
    color: $--wtcp-themed-blue;
    text-decoration: none;
}
@media (min-width: 876px) {
    #logo.wtd-masthead {
        width: 129px;
    }
}