@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/youtube-sans');
@import url("/fonts/font-families.scss");

@import "./preset/reset.scss";
@import "./preset/variables.scss";
@import "./preset/animation.scss";

a {
    color: #3EA6FF;
    text-decoration: none;
}
.input[type=password],
.input[type=tel],
.input[type=text] {
    appearance: none;
}
[dir=ltr] body, [dir=ltr] button,
[dir=ltr] input, [dir=ltr] select,
[dir=ltr] textarea {
    direction: ltr;
    text-align: left;
}
[dir] button:disabled {
    cursor: default;
}
div[data-lastpass-icon-root] {
    display: none;
}
@media (min-width: 876px) {
    #logo.wtd-masthead {
        width: 129px;
    }
}
@media only screen and (min-width: 1441px) {
    .as-l-container {
        margin-inline-end: auto;
        margin-inline-start: auto;
        width: 980px;
    }
}
@media only screen and (max-width: 1044px) {
    .ac-localnav {
        min-width: 320px;
    }
}
@supports (backdrop-filter: initial) {
    .ac-localnav.ac-localnav-scrim .ac-localnav-background {
        backdrop-filter: saturate(180%) blur(20px);
        background-color: hsla(0, 0%, 100%, .7);
    }
}
@media only screen and (min-device-width: 1069px) {
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}
@media only screen and (max-width: 1044px) {    
    .as-globalfooter {
        min-width: 320px;
    }
}
@supports (padding: calc(max(0px))) {
    .as-globalfooter-mini {
        padding-bottom: 11px;
    }
}