@import "../preset/animation.scss";
@import "../preset/reset.scss";
@import "../preset/variables.scss";

:root {
    --paper-spinner-color: #aaa;
    --wtd-rich-grid-item-margin: 16px;
    --wtd-rich-grid-gutter-margin: 16px;
    --wtd-rich-grid-item-row-usable-width: calc(100% - 16px*2);
    --wtd-rich-grid-row-margin: 40px;
    --wtd-rich-grid-shorts-item-margin: 4px;
}
[hidden] {
    display: none !important;
}
html[dark] {
    scrollbar-color: hsl(0, 0%, 67%) transparent;
}
.wtd-app-html-tag {
    --app-drawer-width: 240px;
    --wtd-persistent-guide-width: 240px;
    --wtd-permission-role-button-bar-height: 30px;
    --wtd-mini-guide-width: 72px;
    --app-drawer-content-container-background-color: #0f0f0f;
    background: $--wt-spec-base-background;    
    display: block;
    left: 0;
    min-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    scrollbar-color: #aaa transparent;
}
.wtd-app-html-tag[mini-guide-visible] {
    .wtd-page-manager-html-tag.wtd-app {
        margin-left: var(--wtd-mini-guide-width);
    }
}
.wtd-app-html-tag[frosted-glass-mode=none] {
    #frosted-glass.wtd-app {
        display: none;
    }
}
#frosted-glass.wtd-app {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2018;
    height: 55px;
}
#page-manager.wtd-app {
    overflow-x: inherit;
    overflow-y: visible;
    margin-top: $--wtd-toolbar-height;
    display: flexbox;
    display: flex;
    flex: 1;
    flex-basis: 0.000000001px;
}
.wtd-app-html-tag[guide-persistent-and-visible] {
    .wtd-page-manager-html-tag.wtd-app {
        margin-left: $--wtd-persistent-guide-width;
    }
}
.wtd-page-manager-html-tag {
    display: block;
    overflow-y: auto;
    margin-top: $--wtd-toolbar-height;
}
.wtd-page-manager-html-tag>*.wtd-page-manager {
    flex: 1;
    flex-basis: 0.000000001px;
}
.wtd-browse-html-tag {
    overflow: hidden;
    display: flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#alert-banner.wtd-browse {
    display: flex;
    justify-content: center;
}
#alerts.wtd-browse, #alert-banner.wtd-browse {
    width: 100%;    
}
#masthead-ad.wtd-browse {
    width: 100%;
    flex: none;
    display: flexbox;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#header.wtd-browse {
    width: 100%;
    z-index: 2000;
    flex: none;
}
.wtd-two-column-browse-results-renderer-html-tag.wtd-browse {
    padding-bottom: 0;
}
.wtd-two-column-browse-results-renderer-html-tag {
    flex: none;
    margin-bottom: 16px;
    width: 100%;
    display: flexbox;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}
@media (min-width: 876px) {
    .wtd-two-column-browse-results-renderer-html-tag {
        display: flexbox;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}
#primary.wtd-two-column-browse-results-renderer {
    max-width: 100%;
    min-width: 0;
}
@media (min-width: 876px) {
    #primary.wtd-two-column-browse-results-renderer {
        flex: 1;
        flex-basis: 0.000000001px;
    }
}
.wtd-rich-grid-renderer-html-tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    --wtd-rich-grid-gutter-margin: 16px;
    --wtd-rich-grid-content-max-width: calc(var(
        --wtd-rich-grid-items-per-row) * (var(
        --wtd-rich-grid-item-max-width) + var(
        --wtd-rich-grid-item-margin)) - var(
        --wtd-rich-grid-item-margin));
    --wtd-rich-grid-row-margin: 40px;
}
#header.wtd-rich-grid-renderer {
    --wt-feed-filter-chip-bar-margin-left-first-item: 0;
    width: 100%;
    justify-content: center;
}
#chips-wrapper.wtd-feed-filter-chip-bar-renderer {
    position: fixed;
    top: $--wtd-rich-grid-chips-bar-top;
    width: var(--wtd-rich-grid-chips-bar-width);
    background-color: $--wt-spec-base-background;
    z-index: 2000;
    display: flexbox;
    display: flex;
    justify-content: center;
}
.wtd-feed-filter-chip-bar-renderer-html-tag {
    --wtd-rich-grid-chips-bar-width: 100%;
    --wtd-rich-grid-chips-bar-top: 56px;
    --wtd-sort-filter-header-margin-left: 0;
    width: 100%;
    height: 56px;
    display: flexbox;
    display: flex;
}
.wtd-feed-filter-chip-bar-renderer-html-tag[fluid-width] {
    #chips-content.wtd-feed-filter-chip-bar-renderer {
        padding: 0 24px;
    }
}
#chips-content.wtd-feed-filter-chip-bar-renderer {
    box-sizing: border-box;
    width: 100%;
    display: flexbox;
    display: flex;
}
.wtd-feed-filter-chip-bar-renderer-html-tag[at-start] {
    #left-arrow.wtd-feed-filter-chip-bar-renderer {
        display: none;
    }
}
.wtd-feed-filter-chip-bar-renderer-html-tag[at-end] {
    #right-arrow.wtd-feed-filter-chip-bar-renderer {
        display: none;
    }
}
#left-arrow.wtd-feed-filter-chip-bar-renderer {
    top: 0;
    left: 0;
}
#right-arrow.wtd-feed-filter-chip-bar-renderer {
    top: 0;
    right: 0;
}
#left-arrow.wtd-feed-filter-chip-bar-renderer,
#right-arrow.wtd-feed-filter-chip-bar-renderer {
    position: absolute;
    height: 100%;
    z-index: 2020;
    display: flexbox;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#left-arrow-button.wtd-feed-filter-chip-bar-renderer,
#right-arrow-button.wtd-feed-filter-chip-bar-renderer {
    background-color: $--wt-spec-base-background;
    display: flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wtd-button-renderer-html-tag.wtd-feed-filter-chip-bar-renderer {
    border-radius: 16px;
    height: 32px;
    margin: 0 12px;
    width: 32px;
    display: flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wt-button-renderer-html-tag,
.wtd-button-renderer-html-tag,
.wtd-toggle-button-renderer-html-tag {
    display: inline-block;
}
.wt-button-shape-html-tag {
    display: flex;
    flex: 1;
    flex-basis: 0.000000001px;
}
.wt-spec-button-shape-next--icon-only-default {
    min-width: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
}
.wt-spec-button-shape-next--size-m {
    padding: 0 16px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    border-radius: 18px;
}
.wt-spec-button-shape-next {
    position: relative;
    margin: 0;
    white-space: nowrap;
    min-width: 0;
    text-transform: none;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    border: none;
    cursor: pointer;
    outline-width: 0;
    box-sizing: border-box;
    background: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    flex: 1;
    flex-basis: 0.000000001px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.wtd-feed-filter-chip-bar-renderer-html-tag[is-dark-theme] #left-arrow.wtd-feed-filter-chip-bar-renderer::after {
    background: linear-gradient(to right, $--wt-spec-base-background 20%, rgba(33,33,33,0) 80%);
}
.wtd-feed-filter-chip-bar-renderer-html-tag[is-dark-theme] #right-arrow.wtd-feed-filter-chip-bar-renderer::before {
    background: linear-gradient(to left, $--wt-spec-base-background 20%, rgba(33,33,33,0) 80%);
}
#left-arrow.wtd-feed-filter-chip-bar-renderer::after,
#right-arrow.wtd-feed-filter-chip-bar-renderer::before {
    height: 100%;
    width: 50%;
    content: "";
    pointer-events: none;
}
#scroll-container.wtd-feed-filter-chip-bar-renderer {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}
#chips.wtd-feed-filter-chip-bar-renderer {
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(.05,0,0,1);
    will-change: transform;
    display: inline-block;
    white-space: nowrap;
}
.wt-chip-cloud-chip-renderer-html-tag[chip-style=STYLE_DEFAULT][selected],
.wt-chip-cloud-chip-renderer-html-tag[chip-style=STYLE_HOME_FILTER][selected] {
    background-color: $--wt-spec-text-primary;
    color: $--wtcp-text-primary-inverse;
}
.wt-chip-cloud-chip-renderer-html-tag[chip-style=STYLE_DEFAULT],
.wt-chip-cloud-chip-renderer-html-tag[chip-style=STYLE_HOME_FILTER],
.wt-chip-cloud-chip-renderer-html-tag[chip-style=STYLE_COLOR_RED],
.wt-chip-cloud-chip-renderer-html-tag[chip-style=STYLE_COLOR_GREEN],
.wt-chip-cloud-chip-renderer-html-tag[chip-style=STYLE_COLOR_BLUE],
.wt-chip-cloud-chip-renderer-html-tag[chip-style=STYLE_REFRESH_TO_NOVEL_CHIP] {
    background-color: $--wt-spec-badge-chip-background;
    color: $--wt-spec-text-primary;
    padding: 0 $--wtd-margin-3x;
    transition: background-color .5s cubic-bezier(.05,0,0,1);
}
.wt-chip-cloud-chip-renderer-html-tag[chip-style=STYLE_DEFAULT]:not([selected]):hover,
.wt-chip-cloud-chip-renderer-html-tag[chip-style=STYLE_HOME_FILTER]:not([selected]):hover,
.wt-chip-cloud-chip-renderer-html-tag[chip-style=STYLE_REFRESH_TO_NOVEL_CHIP]:not([selected]):hover,
.wt-chip-cloud-chip-renderer-html-tag[chip-style=STYLE_DEFAULT]:not([selected]):focus,
.wt-chip-cloud-chip-renderer-html-tag[chip-style=STYLE_HOME_FILTER]:not([selected]):focus,
.wt-chip-cloud-chip-renderer-html-tag[chip-style=STYLE_REFRESH_TO_NOVEL_CHIP]:not([selected]):focus {
    background-color: $--wt-spec-button-chip-background-hover;
}

.wt-chip-cloud-chip-renderer-html-tag.wtd-feed-filter-chip-bar-renderer:first-of-type {
    margin-left: $--wt-feed-filter-chip-bar-margin-left-first-item;
}
.wt-chip-cloud-chip-renderer-html-tag[modern] {
    font-family: "Roboto","Arial",sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}
.wt-chip-cloud-chip-renderer-html-tag.wtd-feed-filter-chip-bar-renderer {
    margin: 12px;
    margin-left: 0;
}
.wt-chip-cloud-chip-renderer-html-tag {
    height: 32px;
    min-width: 12px;
    padding: 0 10px;
    border-radius: 8px;
    box-sizing: border-box;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    position: relative;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    display: inline-flex;
}
#spinner-container.wtd-rich-grid-renderer {
    height: 0;
}
.tp-wt-paper-spinner-lite-html-tag.wtd-rich-grid-renderer {
    margin: auto;
    display: none;
}
.tp-wt-paper-spinner-lite-html-tag {
    display: inline-block;
    position: relative;
    width: 28px;
    height: 28px;
}
#spinnerContainer.tp-wt-paper-spinner-lite {
    width: 100%;
    height: 100%;
    direction: ltr;
}
.spinner-layer.tp-wt-paper-spinner-lite {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    white-space: nowrap;
    color: var(--paper-spinner-color, #4285f4);
}
.spinner-layer.tp-wt-paper-spinner-lite::after,
.spinner-layer.tp-wt-paper-spinner-lite .circle.tp-wt-paper-spinner-lite{
    box-sizing: border-box;
    position: absolute;
    top: 0;
    border-width: 3px;
    border-radius: 50%;
}
.circle-clipper.tp-wt-paper-spinner-lite {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.circle-clipper.left.tp-wt-paper-spinner-lite {
    .circle.tp-wt-paper-spinner-lite {
        left: 0;
        border-right-color: transparent !important;
        transform: rotate(129deg);
    }
}
.circle-clipper.right.tp-wt-paper-spinner-lite {
    .circle.tp-wt-paper-spinner-lite {
        left: -100%;
        border-right-color: transparent !important;
        transform: rotate(-129deg);
    }
}
.circle-clipper.tp-wt-paper-spinner-lite {
    .circle.tp-wt-paper-spinner-lite {
        bottom: 0;
        width: 200%;
        border-style: solid;
        border-bottom-color: transparent !important;
    }
}
/*video mixin styling start*/
#contents.wtd-rich-grid-renderer {
    width: 100%;
    max-width: calc(var(
        --wtd-rich-grid-content-max-width) + var(
        --wtd-rich-grid-item-margin) + var(
        --wtd-rich-grid-gutter-margin)*2);
    padding-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.wtd-rich-item-renderer-html-tag[rendered-from-rich-grid][is-in-first-column] {
    margin-left: calc(var(--wtd-rich-grid-item-margin) / 2 + var(--wtd-rich-grid-gutter-margin));
}
.wtd-rich-item-renderer-html-tag[rendered-from-rich-grid] {
    --wtd-rich-grid-item-row-usable-width: calc(100% - 
        var(--wtd-rich-grid-gutter-margin)*2);
    width: calc(var(--wtd-rich-grid-item-row-usable-width)
        / var(--wtd-rich-grid-items-per-row) - var(
        --wtd-rich-grid-item-margin) - -.01px);
}
.wtd-rich-item-renderer-html-tag {
    position: relative;
    margin-left: calc(var(--wtd-rich-grid-item-margin) / 2);
    margin-right: calc(var(--wtd-rich-grid-item-margin) / 2);
    margin-bottom: var(--wtd-rich-grid-row-margin);
    width: calc(100% / var(--wtd-rich-grid-items-per-row) - var(--wtd-rich-grid-item-margin) - .01px);
    --wtd-shorts-rich-grid-width-without-margin: calc(100% - var(
        --wtd-rich-grid-shorts-item-margin)*(var(
        --wtd-rich-grid-slim-items-per-row)*2));
    --wtd-shorts-rich-grid-item-width: calc(var(
        --wtd-shorts-rich-grid-width-without-margin) / 
        var(--wtd-rich-grid-slim-items-per-row) - 
        0.01px);
    scroll-margin-top: var(--wtd-rich-grid-content-offset-top);
}
#content.wtd-rich-item-renderer {
    height: 100%;
    display: flexbox;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.wtd-rich-grid-media-html-tag {
    --wt-button-compact-backgrond-color: rgba(255,255,255,0.2);
    --wt-button-compact-text-color: #aaa;
    width: 100%;
    margin: 0;
    display: block;
    max-width: $--wtd-rich-grid-item-max-width;
    position: relative;
}
#dismissible.wtd-rich-grid-media {
    position: relative;
    height: 100%;
    display: flexbox;
    display: flex;
    flex-direction: column;
}
.wtd-thumbnail-html-tag.wtd-rich-grid-media,
.wtd-playlist-thumbnail-html-tag.wtd-rich-grid-media {
    width: 100%;
    position: relative;
}
.wtd-thumbnail-html-tag {
    display: block;
    position: relative;
    flex: none;
}
.wtd-thumbnail-html-tag[size=large] a.wtd-thumbnail,
.wtd-thumbnail-html-tag[size=large]::before {
    border-radius: 12px;
}
.wtd-thumbnail-html-tag.wtd-rich-grid-media::before,
.wtd-playlist-thumbnail-html-tag.wtd-rich-grid-media::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%;
    background-color: $--wt-spec-10-percent-layer;
}
.wtd-thumbnail-html-tag {
    #thumbnail.wtd-thumbnail {
        height: 100%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        display: block;
    }
    #thumbnail.wtd-thumbnail {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
.wt-simple-endpoint {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: $--wt-spec-text-primary;
}
.wt-core-image {
    visibility: hidden;
    display: inline-block;
    min-height: 1px;
    min-width: 1px;
}
.wt-core-image--loaded {
    visibility: inherit;
}
.wt-core-image--fill-parent-height {
    height: 100%;
}
.wt-core-image--fill-parent-width {
    width: 100%;
}
.wt-core-image--content-mode-scale-aspect-fill {
    object-fit: cover;
}
#overlays.wtd-thumbnail {
    display: none;
}
.wtd-thumbnail-html-tag[loaded] {
    #overlays.wtd-thumbnail {
        display: block;
    }
}
.wtd-thumbnail-html-tag[size=large] .wtd-thumbnail-overlay-time-status-renderer-html-tag.wtd-thumbnail,
.wtd-thumbnail-html-tag[size=large] .wtd-thumbnail-overlay-button-renderer-html-tag.wtd-thumbnail,
.wtd-thumbnail-html-tag[size=large] .wtd-thumbnail-overlay-toggle-button-renderer-html-tag.wtd-thumbnail {
    margin: 8px;
}
.wtd-thumbnail-overlay-time-status-renderer-html-tag {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 4px;
    display: flexbox;
    display: flex;
    flex-direction: row;
}
.wtd-badge-supported-renderer-html-tag {
    display: flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.thumbnail-overlay-badge-shape.wtd-thumbnail-overlay-time-status-renderer {
    margin-left: 4px;
}
.badge-shape-wiz {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 2px;
    padding: 0 4px;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
}
.badge-shape-wiz--thumbnail-badge {
    border-radius: 4px;
    padding: 1px 4px;
}
.badge-shape-wiz--thumbnail-default {
    color: #fff;
    background: rgba(0,0,0,0.6);
}
.badge-shape-wiz__text {
    display: block;
}
#time-status.wtd-thumbnail-overlay-time-status-renderer {
    display: flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
    display: inline-flexbox;
    display: inline-flex;
    color: $--wt-spec-static-overlay-text-primary;
    background-color: $--wt-spec-static-overlay-backgroun-heavy;
    padding: 3px 4px;
    height: 12px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: $--wt-badge-letter-spacing;
    margin-left: 4px;
}
#time-status.wtd-thumbnail-overlay-time-status-renderer {
    .wt-icon-html-tag.wtd-thumbnail-overlay-time-status-renderer {
        --iron-icon-height: 16px;
        --iron-icon-width: 16px;
        margin-right: 4px;
    }
    #text.wtd-thumbnail-overlay-time-status-renderer {
        max-height: 12px;
        overflow: hidden;
    }
}
.wtd-thumbnail-overlay-now-playing-renderer-html-tag {
    opacity: 0;
    color: #fff;
    background-color: $--wt-spec-static-overlay-backgroun-heavy;
    text-align: center;
    transition: opacity .3s;
    z-index: 1;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
}
.wtd-thumbnail-overlay-now-playing-renderer-html-tag[now-playing-badge] {
    position: absolute;
    margin: 4px;
    right: 0;
    bottom: 0;
    top: unset;
    left: unset;
    align-items: center;
    height: 20px;
    border-radius: 4px;
    padding: 1px 4px;
    transition: opacity .3s;
    color: $--wt-spec-static-overlay-text-primary;
    text-transform: none;
    background-color: $--wt-spec-static-overlay-backgroun-medium;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    display: flexbox;
    display: flex;
    flex-direction: row-reverse;
}
.wtd-thumbnail-overlay-now-playing-renderer-html-tag.wtd-thumbnail {
    opacity: 0;
    pointer-events: none;
}
.wtd-thumbnail-overlay-equalizer-html-tag.wtd-thumbnail-overlay-now-playing-renderer {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 6px;
    height: 28px;
    width: 16px;
}
.wtd-thumbnail-overlay-now-playing-renderer-html-tag[now-playing-badge]  {
    .wtd-thumbnail-overlay-equalizer-html-tag.wtd-thumbnail-overlay-now-playing-renderer {
        height: 16px;
        margin: -8px 2px 0 0;
        width: 16px;
        position: unset;
    }
}
.wtd-thumbnail-overlay-equalizer-html-tag {
    display: inline-flexbox;
    display: inline-flex;
}
#equalizer.wtd-thumbnail-overlay-equalizer {
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
}
.wtd-thumbnail-overlay-equalizer-html-tag:not([animate-equalizer]) {
    .bar.wtd-thumbnail-overlay-equalizer {
        transform: scaleY(.08);
    }
}
.bar.wtd-thumbnail-overlay-equalizer {
    fill: #fff;
    height: 70px;
    width: 15px;
}
#thumbnail-underlay.wtd-rich-grid-media {
    cursor: pointer;
}
#details.wtd-rich-grid-media {
    position: relative;
    cursor: pointer;
    flex: auto;
    display: flexbox;
    display: flex;
    flex-direction: row;
}
#avatar-container.wtd-rich-grid-media {
    height: 36px;
    margin-top: 12px;
    margin-right: 12px;
}
#avatar.wtd-rich-grid-media {
    background-color: $--wt-spec-10-percent-layer !important;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;
}
.wt-img-shadow-html-tag[loaded] {
    opacity: 1;
}
.wt-img-shadow-html-tag.no-transition {
    opacity: 1;
    transition: none;
}
.wt-img-shadow-html-tag {
    display: inline-block;
    opacity: 0;
    transition: opacity .2s;
    flex: none;
}
.wt-decorated-avatar-view-model-wiz {
    display: block;
}
.wt-spec-avatar-shape {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.wt-spec-avatar-shape__button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    border-style: none;
}
.wt-spec-avatar-shape__button--tappable {
    cursor: pointer;
}
.wt-spec-avatar-shape__button--button-medium {
    width: 36px;
    height: 36px;
}
.wt-spec-avatar-shape--avatar-size-medium {
    margin: 2px;
    position: relative;
    display: flex;
    justify-content: center;
    width: 36px;
    height: 36px;
}
.wt-core-image--content-mode-scale-to-fill {
    object-fit: fill;
}
.wt-spec-avatar-shape__image {
    border-radius: 50%;
}
.wt-spec-avatar-shape__image-overlays {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#meta.wtd-rich-grid-media {
    overflow-x: hidden;
    padding-right: 24px;
}
h3.wtd-rich-grid-media {
    color: $--wt-spec-text-primary;
    margin: 12px 0 4px 0;
}
.top-badge.wtd-rich-grid-media {
    margin: 4px 4px 2px 0;
}
#video-title-link.wtd-rich-grid-media {
    display: block;
}
#video-title.wtd-rich-grid-media {
    color: $--wt-spec-text-primary;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    overflow: hidden;
    display: block;
    max-height: 44px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}
.wtd-video-meta-block-html-tag,
.wtd-video-meta-block[meta-block] {
    display: flexbox;
    display: flex;
    flex-direction: column;
}
#metadata.wtd-video-meta-block {
    display: flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.wtd-video-meta-block-html-tag.grid #metadata.wtd-video-meta-block,
.wtd-video-meta-block-html-tag.compact #metadata.wtd-video-meta-block,
.wtd-video-meta-block[meta-block].gird #metadata.wtd-video-meta-block,
.wtd-video-meta-block[meta-block].compact #metadata.wtd-video-meta-block {
    display: flexbox;
    display: flex;
    flex-direction: column;
}
.wtd-video-meta-block-html-tag[rich-meta] {
    #byline-container.wtd-video-meta-block {
        font-family: "Roboto","Arial",sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
    }
}
#byline-container.wtd-video-meta-block {
    max-width: 100%;
    flex-wrap: wrap;
    display: flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.wtd-channel-name-html-tag {
    z-index: 300;
    display: flexbox;
    display: flex;
    align-self: flex-start;
}
#channel-name.wtd-video-meta-block {
    --wtd-channel-name-badges-margin-right: 8px;
    --wtd-channel-name-text-display: block;
    --wtd-channel-name-text-complex-display: flex;
    --wt-endpoint-color: #aaa;
    --wt-endpoint-visited-color: #aaa;
    color: $--wt-spec-text-secondary;
    max-width: 100%;
    display: flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.wtd-video-meta-block-html-tag.grid #channel-name.wtd-video-meta-block,
.wtd-video-meta-block[meta-block].grid #channel-name.wtd-video-meta-block {
    --wt-endpoint-color: #aaa;
    --wt-endpoint-hover-color: #f1f1f1;
}
#container.wtd-channel-name {
    display: var(--wtd-channel-name-container-display, inline-block);
    overflow: hidden;
    max-width: 100%;
}
#text-container.wtd-channel-name {
    display: block;
}
#text.complex-string.wtd-channel-name {
    display: var(--wtd-channel-name-text-complex-display);
}
#text.wtd-channel-name {
    display: var(--wtd-channel-name-text-display);
    -webkit-box-orient: vertical;
    -webkit-line-clamp: inherit;
    word-break: break-word;
}
.wt-formatted-string-html-tag[dir=auto][ellipsis-truncate-styling].complex-string {
    display: inline-block;
}
.wt-formatted-string-html-tag[has-link-only_]:not([force-default-style]) {
    a.wt-simple-endpoint.wt-formatted-string {
        color: var(--wt-endpoint-color, $--wt-spec-text-primary);
    }
}
.wt-formatted-string-html-tag[dir=auto][ellipsis-truncate-styling].complex-string>*.wt-formatted-string:not(style) {
    display: inline;
}
.wt-formatted-string-html-tag[has-link-only_]:not([force-default-style]) a.wt-simple-endpoint.wt-formatted-string:hover {
    color: var(--wt-endpoint-hover-color, $--wt-spec-text-primary);
}
.wt-formatted-string-html-tag[ellipsis-truncate-styling] a.wt-formatted-string:last-child,
.wt-formatted-string-html-tag[ellipsis-truncate-styling] span.wt-formatted-string:last-child {
    overflow: hidden;
    text-overflow: ellipsis;
}
.wt-formatted-string-html-tag[ellipsis-truncate-styling] a.wt-formatted-string {
    display: block;
    margin-right: -.1em;
    padding-right: .1em;
    white-space: pre;
}
a.wt-simple-endpoint.wt-formatted-string {
    color: var(--wt-endpoint-color, $--wt-spec-call-to-action);
    display: inline-block;
    text-decoration: var(--wt-endpoint-text-regular-decoration, none);
    word-wrap: var(--wt-endpoint-word-wrap, none);
    word-break: var(--wt-endpoint-word-break, none);
}
a.wt-formatted-string {
    color: $--wt-spec-call-to-action;
}
.tp-wt-paper-tooltip-html-tag.wtd-channel-name {
    display: var(--wt-paper-tooltip-display);
}
.wtd-badge-supported-renderer-html-tag.wtd-channel-name {
    display: var(--wtd-channel-name-badges-display, flex);
    margin-right: var(--wtd-channel-name-badges-margin-right);
    vertical-align: var(--wtd-channel-name-badges-vertical-align);
}
.badge.wtd-badge-supported-renderer {
    border-radius: 2px;
    display: block;
    padding: 0 4px;
    white-space: inherit;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
}
.badge-style-type-verified.wtd-badge-supported-renderer,
.badge-style-type-verified-artist.wtd-badge-supported-renderer {
    background: none;
    margin-bottom: 1px;
    padding: 0;
    padding-left: 4px;
    flex: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: var(--wt-badge-letter-spacing, unset);
}
.wt-icon-html-tag.wtd-badge-supported-renderer {
    width: 13px;
    height: 13px;
    color: var(--wtd-badge-icon-color, $--wt-spec-text-secondary);
    padding: 0 2px 1px 0;
}
.wtd-badge-supported-renderer-html-tag[system-icons] {
    .wt-icon-html-tag.wtd-badge-supported-renderer {
        width: 16px;
        height: 16px;
    }
}
.badge-style-type-verified.wtd-badge-supported-renderer .wt-icon-html-tag.wtd-badge-supported-renderer,
.badge-style-type-verified-artist.wtd-badge-supported-renderer .wt-icon-html-tag.wtd-badge-supported-renderer {
    padding: 0;
}
.wtd-badge-supported-renderer-html-tag[system-icons] .badge-style-type-verified.wtd-badge-supported-renderer .wt-icon-html-tag.wtd-badge-supported-renderer,
.wtd-badge-supported-renderer-html-tag[system-icons] .badge-style-type-verified-artist.wtd-badge-supported-renderer .wt-icon-html-tag.wtd-badge-supported-renderer,
.wtd-badge-supported-renderer-html-tag[system-icons] .badge-style-type-collection.wtd-badge-supported-renderer .wt-icon-html-tag.wtd-badge-supported-renderer,
.wtd-badge-supported-renderer-html-tag[system-icons] .badge-style-type-transparent.wtd-badge-supported-renderer .wt-icon-html-tag.wtd-badge-supported-renderer {
    width: 14px;
    height: 14px;
}
p.wtd-badge-supported-renderer {
    display: inline;
    margin: 0;
}
#metadata-line.wtd-video-meta-block {
    color: var(--wtd-metadata-line-color, $--wt-spec-text-secondary);
    max-width: 100%;
    display: flexbox;
    display: flex;
    flex-wrap: wrap;
}
.wtd-video-meta-block-html-tag[rich-meta] {
    #metadata-line.wtd-video-meta-block {
        font-family: "Roboto","Arial",sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        overflow: hidden;
        display: block;
        max-height: 40px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        white-space: normal;
        display: flexbox;
        display: flex;
    }
}
#separator.wtd-video-meta-block {
    display: none;
}
.wtd-video-meta-block-html-tag:not([inline-badges]) {
    #metadata-line.wtd-video-meta-block {
        span.wtd-video-meta-block {
            display: inline-block;
        }
    }
}
#metadata-line.wtd-video-meta-block>.wtd-video-meta-block:not(:first-of-type)::before {
    content: "•";
    margin: 0 4px;
}
#additional-metadata-line.wtd-video-meta-block {
    font-family: "Roboto","Arial",sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    overflow: hidden;
    display: block;
    max-height: 18px;
    -webkit-line-clamp: 1;
}
.wtd-menu-renderer-html-tag {
    display: flexbox;
    display: flex;
    flex-direction: row;
}
.wtd-menu-renderer-html-tag.wtd-rich-grid-media {
    position: absolute;
    top: 4px;
    right: -12px;
}
.top-level-buttons.wtd-menu-renderer {
    align-items: center;
    display: flexbox;
    display: flex;
    flex-direction: row;
}
.wtd-menu-renderer-html-tag {
    .wtd-menu-renderer[style-target=button] {
        --wt-icon-button-icon-width: 24px;
        --wt-icon-button-icon-height: 24px;
        width: $--wt-icon-width;
        height: $--wt-icon-height;
    }
}
#button.wtd-menu-renderer {
    .wt-icon-html-tag.wtd-menu-renderer {
        color: var(--wtd-menu-renderer-button-color, $--wt-spec-icon-inactive);
    }
}
#attached-survey.wtd-rich-grid-media {
    display: block;
    width: 100%;
}
.wt-interaction-html-tag.extended {
    margin: -4px;
    .fill.wt-interaction {
        border-radius: 4px;
    }
    .stroke.wt-interaction {
        border-radius: 4px;
    }
}
/*video mixin styling end*/
.wtd-rich-section-renderer-html-tag {
    width: 100%;
    display: flex;
    justify-content: center;
}
#content.wtd-rich-section-renderer {
    max-width: var(--wtd-rich-grid-content-max-width);
    margin: 0 calc(var(--wtd-rich-grid-item-margin)
    / 2 + var(--wtd-rich-grid-gutter-margin));
    width: 100%;
    min-width: 0;
    &>*.wtd-rich-section-renderer {
        margin-bottom: var(--wtd-rich-grid-row-margin);
    }
}
.wtd-feed-nudge-renderer-html-tag[nudge-style=modernized-nudge] {
    border-radius: 12px;
    width: 100%;
    #dismissible.wtd-feed-nudge-renderer {
        height: auto;
        flex-grow: 1;
        width: 100%;
        max-width: var(--wtd-rich-grid-item-max-width, 360px);
    }
}
.wtd-feed-nudge-renderer-html-tag {
    display: flexbox;
    display: flex;
    justify-content: center;
    width: 100%;
}
#dismissible.wtd-feed-nudge-renderer {
    border-radius: 5px;
    border: 1px solid $--wt-spec-outline;
    height: 100%;
    position: relative;
    width: 100%;
    max-width: var(--wtd-rich-grid-item-max-width, 360px);
    display: flexbox;
    display: flex;
    flex-direction: column;
}
.wtd-feed-nudge-renderer-html-tag[rounded-container] {
    #dismissible.wtd-feed-nudge-renderer {
        border-radius: 12px;
        overflow: hidden;
    }
}
#dismiss-button.wtd-feed-nudge-renderer {
    box-sizing: border-box;
    margin-top: 4px;
    padding-right: 4px;
    position: absolute;
    top: 4px;
    display: flexbox;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#content-wrapper.wtd-feed-nudge-renderer {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: $--wtcp-brand-background-solid;
    padding: 0 6%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flexbox;
    display: flex;
    flex-direction: column;
}
.wtd-feed-nudge-renderer-html-tag[nudge-style=modernized-nudge] {
    #content-wrapper.wtd-feed-nudge-renderer {
        background-color: $--wt-spec-raised-background;
    }
    #text-container.wtd-feed-nudge-renderer {
        text-align: center;
    }
    &[no-icon] {
        #text-container.wtd-feed-nudge-renderer {
            margin-top: 16px;
        }
    }
    #title.wtd-feed-nudge-renderer {
        font-family: "Roboto","Arial",sans-serif;
        font-size: 24px;
        line-height: 32px;
        font-weight: 900;
    }
    #subtitle.wtd-feed-nudge-renderer {
        font-family: "Roboto","Arial",sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
    }
}
#header-container.wtd-feed-nudge-renderer {
    width: 100%;
    margin-top: 8px;
    display: flexbox;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#text-container.wtd-feed-nudge-renderer {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 8px 0 12px;
}
#title-container.wtd-feed-nudge-renderer {
    color: $--wt-spec-text-primary;
    margin-bottom: 12px;
    text-align: center;
    font-family: "YouTube Sans", "Roboto", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}
#subtitle-container.wtd-feed-nudge-renderer {
    color: $--wt-spec-text-secondary;
    text-align: center;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.wt-formatted-string-html-tag[split-lines] {
    white-space: pre-wrap;
}