@import "../style.scss";
body:lang(ko) {
    font-family: 'SF Pro KR', 'SF Pro Text', HY Gulim, MalgunGothic, HY Dotum, Lexi Gulim, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.5882352941;
}
input[type=password], input[type=tel], input[type=text] {
    appearance: none;
}
#signin-container {
    padding-top: 56px;
}
.rs-sign-in.rs-sign-in-idms-no-sidebar {
    padding-bottom: 0;
    padding-top: 0;
}
.rs-sign-in-has-idms .rs-sign-in-header {
    padding-bottom: 0;
}
.typography-headline-reduced:lang(ko) {
    font-family: 'SF Pro KR', 'SF Pro Display', HY Gulim, MalgunGothic, HY Dotum, Lexi Gulim, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.2;
}
.typography-headline-reduced {
    font-family: 'SF Pro Display', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.1;
}
.rs-sign-in-header {
    padding-bottom: 36px;
    padding-top: 34px;
    letter-spacing: -0.115rem;
}
.rs-sign-in-has-idms .rs-sign-in-main {
    margin: 0 auto;
}
.row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
.rs-sign-in-has-idms .rs-sign-in-content {
    box-sizing: border-box;
    margin: 0;
    min-height: 450px;
    min-width: 600px;
    padding: 0;
    position: relative;
    width: auto;
    z-index: 1;
}
.rs-sign-in-idms-no-sidebar .rs-sign-in-content {
    float: none;
    margin: 0 auto;
}
.column {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    padding: 0;
}
.rs-sign-in-idms-no-sidebar .rt-apple-auth {
    height: 480px;
    margin-top: 72px;
}
.rt-apple-auth {
    height: 480px;
    margin: 83px auto 0;
    width: 640px;
}
.tk-body:lang(ko) {
    line-height: 1.58824;
    letter-spacing: 0;
    font-family: 'SF Pro KR', 'SF Pro Text', HY Gulim, MalgunGothic, HY Dotum, Lexi Gulim, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.si-container[data-theme=dark] {
    color: #494949;
}
.si-container {
    text-align: center;
    width: 100%;
    padding: 0;
}
.widget-container.restrict-max-wh.restrict-min-content {
    min-height: 100%;
    height: min-content;
}
.widget-container.restrict-max-wh {
    min-height: 420px;
}
.widget-container[data-mode=inline] {
    justify-content: start;
}
.widget-container {
    height: 100%;
    min-width: 310px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.fade-in {
    animation: fade-in .5s ease-in-out;
}
.widget-container .si-step {
    width: 100%;
}
.widget-container[data-mode=inline] .signin {
    padding-top: 4px;
}
.widget-container .si-container-title {
    margin: 14px 0;
}
.widget-container .si-container-description,
.widget-container .si-container-title {
    max-width: 380px;
    margin: 5px auto 13px;
    word-break: break-word;
}
.tk-label:lang(ko) {
    line-height: 1.29167;
    font-family: 'SF Pro KR', 'SF Pro Display', HY Gulim, MalgunGothic, HY Dotum, Lexi Gulim, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.tk-label {
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 600;
    letter-spacing: .009em;
    font-family: 'SF Pro Display', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.widget-container .signin .swp-enable.si-field-container:not(:first-child) {
    margin-top: 40px;
}
.widget-container .signin .swp-enable.si-field-container {
    max-width: 480px;
}
.widget-container .si-field-container {
    max-width: 328px;
    position: relative;
    outline: none;
}
.container {
    margin-right: auto;
    margin-left: auto;
}
.signin-form.fed-auth.hide-password {
    max-height: 44px;
    transition: max-height .2s linear;
}
.signin-form.fed-auth.swp {
    min-height: 158px;
}
.signin-form.fed-auth.swp {
    min-height: 156px;
    max-height: none;
}
.signin-form.fed-auth {
    max-height: 44px;
}
.signin-form {
    min-height: 5.2em;
}
.signin-form {
    max-height: 114px;
}
.signin-form.fed-auth .account-name {
    position: relative;
}
.signin-form.eyebrow .form-cell-wrapper {
    position: relative;
}
.signin-form.eyebrow .form-textbox {
    height: 3.3em;
}
.swp .form-cell-wrapper {
    margin: auto;
}
.signin-form .form-textbox {
    margin: 0;
    box-shadow: none;
    height: 2.6em;
    border: 0;
    border-radius: 6px;
    border-color: transparent;
}
.form-textbox {
    position: relative;
}
.signin-form.fed-auth.hide-password .account-name input.form-textbox,
.signin-form.fed-auth.hide-password .account-name input.form-textbox-input {
    padding-right: 43px;
}
.widget-container input[type=password],
.widget-container input[type=tel],
.widget-container input[type=text] {
    color: #494949;
}
[dir] .form-textbox .form-textarea,
[dir] .form-textbox .form-textbox-input {
    background-color: hsla(0, 0%, 100%, .8);
    border-color: #86868b;
}
[dir] .form-textbox-input {
    border: 1px solid;
    border-radius: 12px;
    margin-bottom: .82353rem;
    padding: 1.05882rem .94118rem 0;
}
[dir=ltr] .form-textbox-input {
    text-align: left;
}
.form-textbox .form-textarea,
.form-textbox .form-textbox-input {
    color: #1d1d1f;
    border-color: #86868b;
    background-color: hsla(0, 0%, 100%, .8);
    text-overflow: ellipsis;
}
.form-textbox-input:lang(ko) {
    font-family: 'SF Pro KR', 'SF Pro Text', HY Gulim, MalgunGothic, HY Dotum, Lexi Gulim, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.35296;
    letter-spacing: 0;
}
.signin-form .form-textbox-input {
    margin: 0;
}
.form-textbox-input {
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: 'SF Pro Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100%;
    height: 3.29412rem;
    border-radius: 12px;
    box-sizing: border-box;
    margin-bottom: .82353rem;
    padding: 1.05882rem .94118rem 0;
    text-align: left;
    appearance: none;
    border: 1px solid;
}
.signin-form #apple_id_field_label.form-textbox-label {
    padding-right: 26px;
    text-overflow: ellipsis;
}
.signin-form #apple_id_field_label {
    z-index: 3;
}
.form-textbox-label:lang(ko) {
    font-family: 'SF Pro KR', 'SF Pro Text', HY Gulim, MalgunGothic, HY Dotum, Lexi Gulim, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.35296;
    letter-spacing: 0;
}
.form-textbox .form-textbox-label {
    color: #6e6e73;
}
[dir=ltr] .form-textbox-label {
    left: 1rem;
}
[dir] .form-textbox-label {
    transition-duration: .125s;
    transition-timing-function: ease-in;
}
.form-textbox-label {
    position: absolute;
    pointer-events: none;
    top: 1.05882rem;
    white-space: nowrap;
    overflow: hidden;
    max-width: calc(100% - 32px);
    left: 1rem;
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: 'SF Pro Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
[dir] .form-textbox .form-textarea.focused,
[dir] .form-textbox .form-textarea:focus,
[dir] .form-textbox .form-textarea:focus-within,
[dir] .form-textbox .form-textbox-input.focused,
[dir] .form-textbox .form-textbox-input:focus,
[dir] .form-textbox .form-textbox-input:focus-within {
    border-color: #0071e3;
}
.form-textbox .form-textarea.focused,
.form-textbox .form-textarea:focus,
.form-textbox .form-textarea:focus-within,
.form-textbox .form-textbox-input.focused,
.form-textbox .form-textbox-input:focus,
.form-textbox .form-textbox-input:focus-within {
    border-color: #0071e3;
    outline: none;
}
[dir] .form-textbox-input.focused,
[dir] .form-textbox-input:focus,
[dir] .form-textbox-input:focus-within {
    border-width: 2px;
}
[dir=ltr] .form-textbox-input:focus,
[dir=ltr] .form-textbox-input:focus-within {
    padding-left: .88235rem;
}
[dir].as-keyboarduser .form-textbox .form-textarea.focused,
[dir].as-keyboarduser .form-textbox .form-textarea:focus,
[dir].as-keyboarduser .form-textbox .form-textarea:focus-within,
[dir].as-keyboarduser .form-textbox .form-textbox-input.focused,
[dir].as-keyboarduser .form-textbox .form-textbox-input:focus,
[dir].as-keyboarduser .form-textbox .form-textbox-input:focus-within,
[dir].form-keyboarduser .form-textbox .form-textarea.focused,
[dir].form-keyboarduser .form-textbox .form-textarea:focus,
[dir].form-keyboarduser .form-textbox .form-textarea:focus-within,
[dir].form-keyboarduser .form-textbox .form-textbox-input.focused,
[dir].form-keyboarduser .form-textbox .form-textbox-input:focus,
[dir].form-keyboarduser .form-textbox .form-textbox-input:focus-within {
    box-shadow: 0 0 0 3px #fff,0 0 0 5px #0071e3;
}
.form-textbox-input.form-textarea-with-placeholder~.form-textbox-label:lang(ko),
.form-textbox-input.form-textbox-entered~.form-textbox-label:lang(ko),
.form-textbox-input:focus-within~.form-textbox-label:lang(ko),
.form-textbox-input:focus~.form-textbox-label:lang(ko),
.form-textbox-input:valid[required]~.form-textbox-label:lang(ko),
.form-textbox-input[placeholder]:not(placeholder-shown)~.form-textbox-label:lang(ko),
.form-textbox-input[placeholder]:not([placeholder=" "])~.form-textbox-label:lang(ko)
{
    line-height: 1.41667;
    letter-spacing: 0;
    font-family: 'SF Pro KR', 'SF Pro Text', HY Gulim, MalgunGothic, HY Dotum, Lexi Gulim, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.form-textbox-input.form-textarea-with-placeholder~.form-textbox-label,
.form-textbox-input.form-textbox-entered~.form-textbox-label,
.form-textbox-input:focus-within~.form-textbox-label,
.form-textbox-input:focus~.form-textbox-label,
.form-textbox-input:valid[required]~.form-textbox-label,
.form-textbox-input[placeholder]:not(:placeholder-shown)~.form-textbox-label,
.form-textbox-input[placeholder]:not([placeholder=" "])~.form-textbox-label
{
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: 'SF Pro Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    top: .58824rem;
}
.signin-form.eyebrow.hide-password.has-focus~.si-button.fed-ui {
    top: 23px;
}
.signin-form.eyebrow.hide-password~.si-button.fed-ui {
    top: 15px;
    transition-timing-function: ease-in;
    transition-duration: .125s;
}
.signin-form.fed-auth~.si-button.fed-ui.fed-ui-animation-show {
    animation: fade-in .5s ease-in-out;
}
.signin-form.fed-auth~.si-button.fed-ui {
    top: 9px;
    margin: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #6e6e73;
    color: #919191;
    border-radius: 50%;
    right: 10px;
    padding: 1px 2px 2px 0;
    z-index: 101;
}
.widget-container .si-button {
    border: 1px solid transparent;
    position: absolute;
    top: 44px;
    right: 5px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    padding: 5px;
}
.si-container .disable {
    opacity: .6;
    pointer-events: none;
}
.signin-form.fed-auth~.si-button.fed-ui
.icon_sign_in {
    padding: 1px;
}
.widget-container .si-button .icon_sign_in {
    font-size: 26px;
    color: #494949;
    vertical-align: top;
}
.shared-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.signin-form.eyebrow.show-password~.si-button.fed-ui {
    top: 73px !important;
    transition-timing-function: ease-in;
    transition-duration: .125s;
}
.signin-form.eyebrow.hide-password.has-focus~.si-button.fed-ui,
.signin-form.eyebrow.hide-password.account-name-entered~.si-button.fed-ui {
    top: 23px;
}
.signin-form .password.password-focus .form-textbox-input {
    border-top-width: 2px;
}
.account-name.show-password .form-textbox-input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.signin-form .password .form-textbox-input {
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-textbox .form-textarea, .form-textbox .form-textbox-input {
    color: #1d1d1f;
    border-color: #86868b;
    background-color: hsla(0,0%,100%,.8);
    text-overflow: ellipsis;
}
[dir] .form-textbox.is-error .form-textarea:not(.focused),
[dir] .form-textbox.is-error .form-textbox-input:not(:focus) {
    background-color: #fff2f4;
    border-color: #e30000;
}
.form-textbox.is-error .form-textbox-label {
    color: #e30000;
}
.si-container .pop-container, .si-container .spinner-container {
    position: relative;
}
.widget-container .si-field-container.has-error.password-second-step .pop-container.signin-error.swp-pop-error {
    top: -60px;
}
.widget-container .si-field-container.has-error.password-second-step.password-on .pop-container.signin-error.swp-pop-error {
    top: -35px;
}
.si-container .pop-container.error {
    margin: auto;
    max-width: 305px;
}
.widget-container .signin-error {
    width: 100%;
}
.widget-container .pop-container {
    color: #494949;
}
.si-container .pop-container {
    animation: fade-in .2s ease-in-out;
    z-index: 20000000000;
}
.si-container .pop-bottom {
    background-color: #fae9a3;
    position: absolute;
    width: 100%;
    margin-left: -50%;
    border-radius: 5px;
    left: 50%;
    border: 1px solid rgba(185,149,1,.47);
    box-shadow: 0 5px 10px 2px rgba(0,0,0,.1);
    margin-top: 5px;
    padding: 11px;
}
.si-container .error {
    color: #503e30;
}
.tk-subbody-headline:lang(ko) {
    letter-spacing: 0;
    font-family: 'SF Pro KR', 'SF Pro Text', HY Gulim, MalgunGothic, HY Dotum, Lexi Gulim, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.tk-subbody-headline {
    font-size: 14px;
    line-height: 1.42859;
    font-weight: 600;
    letter-spacing: -.016em;
    font-family: 'SF Pro Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.si-container .pop-bottom:before {
    width: 15px;
    height: 15px;
    background-color: #fae9a3;
    content: "";
    position: absolute;
    left: 47.2%;
    transform: rotate(135deg) skewX(5deg) skewY(5deg);
    top: -8px;
    border-left: 1px solid rgba(185,149,1,.47);
    border-bottom: 1px solid rgba(185,149,1,.47);
    box-shadow: -1px 1px 2px -1px rgba(185,149,1,.47);
}
.widget-container .si-field-container .pop-container .error .fat {
    max-height: 110px;
    overflow-y: auto;
}
.si-container .pop-container .fat {
    margin: 0;
}
.si-container .pop-container .fat~a {
    color: #503e30;
    text-decoration: underline;
}
.widget-container .si-link {
    cursor: pointer;
    text-decoration: none;
    margin: 0;
    display: inline;
}
.feat-split {
    display: none;
}
.widget-container .si-remember-password {
    display: inline-block;
    position: relative;
    margin: 18px 0 16px;
}
.form-checkbox {
    position: relative;
}
.form-checkbox-input {
    height: .94118rem;
    opacity: 0;
    position: absolute;
    top: .17647rem;
    width: .94118rem;
}
.widget-container .si-remember-password label[for=remember-me] {
    display: inline;
    color: inherit;
    line-height: inherit;
    padding-top: 1px;
}
.form-checkbox .form-label {
    padding-left: 1.52941rem;
    margin-bottom: .64706rem;
}
.form-label {
    display: inline-block;
    position: relative;
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: 'SF Pro Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #1d1d1f;
}
.form-label:lang(ko) {
    font-family: 'SF Pro KR', 'SF Pro Text', HY Gulim, MalgunGothic, HY Dotum, Lexi Gulim, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.35296;
    letter-spacing: 0;
}
.form-checkbox .form-checkbox-indicator {
    background-color: hsla(0,0%,100%,.8);
    border-color: #86868b;
}
.form-checkbox-indicator {
    border-radius: .17647rem;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    box-sizing: content-box;
    display: inline-block;
    height: .82353rem;
    position: absolute;
    top: .11765rem;
    left: 0;
    width: .82353rem;
}
.form-checkbox-input:checked~.form-label .form-checkbox-indicator::after {
    left: .5px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .009em;
    line-height: 1.55556;
    position: absolute;
    top: -.41176rem;
}
.form-checkbox-input:checked~.form-label .form-checkbox-indicator::after {
    color: inherit;
    display: inline-block;
    font-size: inherit;
    font-style: normal;
    font-weight: inherit;
    line-height: 1;
    position: relative;
    z-index: 1;
    alt: "";
    text-decoration: none;
}
.form-checkbox-input:checked~.form-label .form-checkbox-indicator::after {
    content: "\2713";
    color: #fff;
    background-color: #0071E3;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: .82353rem;
    width: .82353rem;
    border-radius: .0701rem;
}
.widget-container .signin .swp-enable+.si-container-footer.has-remember-me .links {
    margin-top: 12px;
}
.tk-subbody:lang(ko) {
    line-height: 1.57143;
    letter-spacing: 0;
    font-family: 'SF Pro KR', 'SF Pro Text', HY Gulim, MalgunGothic, HY Dotum, Lexi Gulim, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.tk-subbody {
    font-size: 14px;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: -.016em;
    font-family: 'SF Pro Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.si-container .si-forgot-password {
    padding-bottom: 9px;
}
.si-container .si-oauth {
    margin-top: 50px;
}
.widget-container .si-link {
    cursor: pointer;
    text-decoration: none;
    margin: 0;
    display: inline;
}
.widget-container .si-link:hover {
    text-decoration: underline;
}
.no-wrap {
    white-space: nowrap;
}
.a11y, .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.sk-icon-external::after {
    content: "\2197";
}
.sk-icon-after::after {
    padding-left: .3em;
    top: 0;
}
#gitgub_oauth_button {
    all: unset;
    background: rgba(0,0,0,0);
    border: 1px solid #1d1d1f;
    color: #1d1d1f;
    border-radius: 10px;
    padding: .5rem;
}
.widget-container .links .fat {
    font-weight: 400;
}
.rs-chat {
    border-top: 1px solid #d2d2d7;
    padding: 0;
    text-align: start;
}
.rs-chat-content {
    padding: 21px 0;
}
.rs-chat-content .as-chat-button {
    text-decoration: underline;
}
.as-globalfooter:lang(ko) {
    font-family: 'SF Pro KR', 'SF Pro Text', HY Gulim, MalgunGothic, HY Dotum, Lexi Gulim, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 0;
}
.as-globalfooter {
    background: #f5f5f7;
    color: #0000008f;
    font-family: 'SF Pro Text' , 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -.01em;
    line-height: 1.3333733333;
    min-width: 1024px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
html:not([dir=rtl]).as-globalfooter-content {
    padding-inline-start: 22px;
    padding-inline-end: 22px;
}
.as-globalfooter-content {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
}
.as-globalfooter h1, .as-globalfooter h1>button,
.as-globalfooter h2, .as-globalfooter h2>button,
.as-globalfooter h3, .as-globalfooter h3>button,
.as-globalfooter h4, .as-globalfooter h4>button,
.as-globalfooter h5, .as-globalfooter h5>button,
.as-globalfooter h6, .as-globalfooter h6>button {
    color: #000000e0;
}
.as-globalfooter-label {
    position: absolute;
    clip: rect(1px,1px,1px,1px);
    border: 0;
    clip-path: inset(0 0 99.9% 99.9%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    padding: 0;
}
.visuallyhidden {
    position: absolute;
    clip: rect(1px,1px,1px,1px);
    border: 0;
    clip-path: inset(0 0 99.9% 99.9%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    padding: 0;

}
h1+*, h2+*, h3+*, h4+*, h5+*, h6+* {
    margin-top: .8em;
}
ol+*, p+*, ul+* {
    margin-top: .8em;
}
.as-globalfooter-sosumi {
    border-bottom: 1px solid #00000029;
    padding: 17px 0 11px;
}
.as-globalfooter a {
    color: #000000b8;
    text-decoration: none;
}
.as-globalfooter a:hover {
    text-decoration: underline;
}
.as-globalfooter-sosumi a {
    text-decoration: underline;
}
.as-globalfooter-sosumi li:lang(ko),
.as-globalfooter-sosumi p:lang(ko) {
    font-family: 'SF Pro KR', 'SF Pro Text', HY Gulim, MalgunGothic, HY Dotum, Lexi Gulim, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 0;
}
.as-globalfooter-sosumi li,
.as-globalfooter-sosumi p {
    font-family: 'SF Pro Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: -.01em;
    line-height: 1.3333733333;
}
.as-globalfooter-sosumi+.as-globalfooter-mini {
    border-top: none;
}
.as-globalfooter-mini {
    border-top: 1px solid #00000029;
    padding: 17px 0 11px;
}
.as-globalfooter-mini-shop {
    max-height: 9999px;
    padding-bottom: 3px;
}
.as-globalfooter-mini-shop a,
.as-globalfooter-mini-shop a:hover {
    color: #06c;
    text-decoration: underline;
}
html:not([dir=rtl]) .as-globalfooter-mini-locale {
    float: right;
}
.as-globalfooter-mini-locale-link:first-child:after {
    inset-inline-start: 0;
}
.as-globalfooter-mini-locale-link:after {
    bottom: 0;
    content: "";
    inset-inline-end: 0;
    inset-inline-start: 0;
    position: absolute;
    top: 0;
}
.as-globalfooter-mini-locale-link:first-child {
    margin-inline-start: 0;
    padding-inline-start: 0;
}
.as-globalfooter-mini-locale-link {
    display: inline-block;
    position: relative;
}
.as-globalfooter-mini-legal {
    position: relative;
    top: -3px;
    z-index: 1;
}
.as-globalfooter-mini-legal:after, .as-globalfooter-mini-legal:before {
    content: " ";
    display: table;
    clear: both;
}
html:not([dir=rtl]) .as-globalfooter-mini-legal-copyright,
html:not([dir=rtl]) .as-globalfooter-mini-legal-links {
    float: left;
}
.as-globalfooter-mini-legal-copyright {
    max-height: 9999px;
}
.as-globalfooter-mini-legal-copyright, .as-globalfooter-mini-legal-links {
    list-style-type: none;
    margin-inline-end: 30px;
    margin-top: 5px;
}
.as-globalfooter-mini-legal-links {
    margin-inline-start: 0;
    position: relative;
    top: -5px;
    z-index: 1;
}
.as-globalfooter-mini-legal-links-item:before {
    bottom: 0;
    content: "";
    inset-inline-end: 9px;
    inset-inline-start: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
}
.as-globalfooter-mini-legal-links-item:not(:last-child)::after {
    background-color: #0000007a;
    content: "";
    height: 10px;
    margin: 3px 0;
    position: absolute;
    width: 1px;
}
.as-globalfooter-mini-legal-links-item {
    display: inline-block;
    margin-inline-end: 6px;
    margin-top: 5px;
    position: relative;
}
.as-globalfooter-mini-legal-link {
    display: inline-block;
    margin-inline-start: -9px;
    padding: 0 9px;
    white-space: nowrap;
}