@import "../style.scss";
*, :after, :before {
    box-sizing: border-box;
}
:focus {
    outline: 3px solid rgba(131,192,253,.5);
    outline-offset: 1px;
}
body:lang(ko) {
    letter-spacing: 0;
    font-family: 'SF Pro KR', 'SF Pro Text', HY Gulim, MalgunGothic, HY Dotum, Lexi Gulim, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
:lang(ko) {
    word-break: keep-all;
    font-style: normal;
}
#content, html, html body {
    height: 100%;
}
body {
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-decoration: none;
    min-width: 1069px;
    font-size: 17px;
    line-height: 1.47059;
    letter-spacing: -.022em;
    font-family: 'SF Pro Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #fff;
    color: #333;
}
body, html {
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
}
body, button, input, select, textarea {
    font-synthesis: none;
    direction: ltr;
    text-align: left;
}
#webAppContent, body, html {
    height: 100%;
    position: relative;
}
abbr, blockquote, body, button, dd, dl,
dt, fieldset, figure, form, h1, h2, h3,
h4, h5, h6, hgroup, input, legend, li, ol, p, pre, ul {
    margin: 0;
    padding: 0;
}
.button-caption-link:lang(ko),
.button-link:lang(ko),
.link:lang(ko) {
    letter-spacing: 0;
    font-family: 'SF Pro KR', 'SF Pro Text', HY Gulim, MalgunGothic, HY Dotum, Lexi Gulim, 'Helvetica Neue', Helvetica, Arial, sans-serif;
} 
.button:lang(ko) {
    letter-spacing: 0;
    font-family: 'SF Pro KR', 'SF Pro Text', HY Gulim, MalgunGothic, HY Dotum, Lexi Gulim, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.wetubenav-html-tag #masthead-container.wtd-app {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    display: block;
    margin: 0;
    width: 100%;
    min-width: 320px;
    height: 56px;
    font-size: 17px;
    user-select: none;
    backdrop-filter: none;
    &, &:after, &:before {
        box-sizing: unset;
    } 
}
.local-nav-html-tag {
    padding-top: 56px;
}
.ac-localnav-menustate {
    display: none;
}
#ac-localnav-sticky-placeholder {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    visibility: hidden;
    z-index: -1;
}
.ac-localnav.css-sticky,
.ac-localnav[data-sticky] {
    position: sticky;
}
.ac-localnav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 52px;
    min-width: 1024px;
    z-index: 9997;
}
.ac-loaclnav-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    z-index: 1;
}
.ac-localnav.ac-localnav-scrim .ac-localnav-background {
    background-color: hsla(0, 0%, 100%, .9);
}
.ac-localnav.ac-localnav-scrim .ac-localnav-background::after {
    background-color: rgba(51, 51, 51, .2);
}
.ac-localnav-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: background-color .5s cubic-bezier(.28, .11, .32, 1);
}
.ac-localnav-menustate:checked~.ac-localnav .ac-localnav-background:after,
.ac-localnav-menustate:target~.ac-localnav .ac-localnav-background:after,
.ac-localnav.ac-localnav-scrim .ac-localnav-background:after,
.ac-localnav.ac-localnav-sticking .ac-localnav-background:after {
    margin-left: 0;
    left: 0;
    width: 100%;
}
.ac-localnav-background::after {
    margin-left: -490px;
    left: 50%;
    content: "";
    display: block;
    position: absolute;  
    top: 100%;
    width: 980px;
    height: 1px;
    z-index: 1;
}
.ac-localnav-content {
    box-sizing: content-box;
    background-color: #fff;
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    position: relative;
    z-index: 2;
}
.ac-localnav-content:after, .ac-localnav-content:before {
    content: " ";
    display: table;
}
.ac-localnav-content:after {
    clear: both;
}
.ac-localnav-title:lang(ko) {
    font-family: 'SF Pro KR', 'SF Pro Display', HY Gulim, MalgunGothic, HY Dotum, Lexi Gulim, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.ac-localnav-title {
    font-size: 24px;
    line-height: 2.125;
    font-weight: 500;
    letter-spacing: .015em;
    font-family: 'SF Pro Display', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    cursor: default;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    height: 52px;
    white-space: nowrap;
}
.ac-localnav-menu:lang(ko) {
    font-family: 'SF Pro KR', 'SF Pro Text', HY Gulim, MalgunGothic, HY Dotum, Lexi Gulim, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.ac-localnav-menu {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0;
    font-family: 'SF Pro Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    float: right;
    line-height: 40px;
    margin-top: 0;
    padding-top: 12px;
}
.ac-localnav-menucta-anchor {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    z-index: 10;
}
.ac-localnav-menucta-anchor-label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0 0 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}
.ac-localnav-menu-tray {
    float: left;
}
ul.ac-localnav-menu-items {
    border: none;
}
.ac-localnav-menu-item {
    margin-left: 24px;
    float: left;
    list-style: none;
}
.ac-localnav-menu-link {
    color: #333;
    display: inline-block;
    line-height: 22px;
    white-space: nowrap;
}
.ac-localnav-menu-link:hover {
    color: #0070c9;
    text-decoration: none;
}
.ac-localnav-actions {
    float: left;
}
.ac-localnav-action {
    margin-left: 24px;
    float: left;
}
.ac-localnav-action-menucta {
    display: none;
    position: relative;
    z-index: 1;
}
.ac-localnav-menucta {
    margin-left: -11px;
    cursor: pointer;
    display: block;
    overflow: hidden;
    width: 40px;
    height: 48px;
    -webkit-tap-highlight-color: transparent;
}
.ac-localnav-menucta-chevron {
    display: block;
    z-index: 1;
    transition:
        transform 1s cubic-bezier(.86, 0, .07, 1),
        origin 1s cubic-bezier(.86, 0, .07, 1);
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(16%);
}
.ac-loaclnav-curtain {
    background: rgba(0, 0, 0, .4);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 9996;
    transition: opacity .2s ease;
}
.app-container {
    min-width: 768px;
    position: relative;
    min-height: 100%;
}
#app-content {
    min-height: 100%;
    margin-top: -108px;
    padding-top: 108px;
    padding-bottom: 95px;
}
.idms-step-header {
    display: none;
}
.flow-body {
    background: transparent;
}
.no-horizontal-scrollbar {
    overflow-x: hidden;
}
.clearfix:after, .clearfix:before {
    content: " ";
    display: table;
}
.flow-body .intro {
    padding-top: 30px;
}
.text-centered {
    text-align: center;
}
.intro {
    text-align: center;
    color: #000;
}
.intro.text-centered h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.47059;
}
.intro .intro-text {
    font-size: .83em;
}
.web .flow-section.account-info-section {
    padding-top: 15px;
}
.flow-section {
    max-width: 1200px;
    margin: auto;
    width: 80%;
    border-bottom: 1px solid #e7e7e8;
    padding: 30px 0 20px;
}
.centered {
    margin: auto;
}
.container-xs {
    max-width: 460px;
}
.form-table {
    display: table;
    width: 100%;
    text-align: left;
    position: relative;
}
.form-cell {
    display: table-cell;
    vertical-align: top;
    direction: ltr;
}
.form-cell .form-sidebyside-textboxes.row {
    margin-right: inherit;
    margin-left: inherit;
}
.row {
    position: relative;
    z-index: 1;
}
.row:after, .row:before {
    content: " ";
    display: table;
    clear: both;
}
.form-cell .form-sidebyside-textboxes.row .column {
    padding-left: inherit;
}
.form-sidebyside-textboxes .column:last-child {
    padding-right: 0;
}
.column {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    float: left;
    min-height: 2px;
}
.large-6 {
    width: 50%;
}
@media only screen and (min-device-width: 1069px) {
    .column {
        padding: 0 15px;
    }
}
.column, .form-element, .row {
    z-index: inherit;
}
.pop-wrapper {
    width: 150%;
    overflow: visible;
}
.field-pop-wrapper {
    width: 100%;
}
.pop-wrapper, .send-code-wrap {
    position: relative;
}
.field-wrapper.padding.right {
    padding-right: 2px;
}
.form-element {
    position: relative;
}
.form-textbox:lang(ko) {
    font-family: 'SF Pro KR', 'SF Pro Text', HY Gulim, MalgunGothic, HY Dotum, Lexi Gulim, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 0;
}
.form-textbox {
    font-size: 17px;
    line-height: 1.23543;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: 'SF Pro Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 100%;
    height: 3.3em;
    margin-bottom: 14px;
    padding-top: 18px;
    padding-left: 16px;
    padding-right: 16px;
    color: #333;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: hsla(0, 0%, 100%, .8);
    background-clip: padding-box;
}
.field-has-info {
    margin-bottom: 4px;
}
.form-textbox:focus {
    appearance: none;
    border-color: #0070c9;
    outline: 0;
    box-shadow: 0 0 0 3px rgba(131,192,253,.5);
}
.is-error .form-textbox {
    border-color: #de071c;
    background: #fef0f0;
    margin-bottom: 0;
    margin-top: 0;
}
.form-textbox.form-textbox-entered~.form-label,
.form-textbox:focus~.form-label,
.form-textbox~.form-label {
    z-index: 0;
}
.form-textbox~.form-label {
    pointer-events: none;
    position: absolute;
    top: 18px;
    left: 17px;
    color: #888;
    padding: 0;
    z-index: 1;
    transition-timing-function: ease-in;
    transition-duration: .125s;
}
.is-error .form-textbox~.form-label {
    color: #de071c;
}
.form-block-label:lang(ko),
.form-label:lang(ko) {
    letter-spacing: 0;
    font-family: 'SF Pro KR', 'SF Pro Text', HY Gulim, MalgunGothic, HY Dotum, Lexi Gulim, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.form-block-label, .form-label {
    font-size: 17px;
    line-height: 1.23543;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: 'SF Pro Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: block;
    position: relative;
    color: #333;
}
.form-textbox.form-textbox-entered~.form-label:lang(ko),
.form-textbox:focus~.form-label:lang(ko),
.form-textbox:valid[required]~.form-label:lang(ko),
.form-textbox[placeholder]~.form-label:lang(ko) {
    letter-spacing: 0;
    font-family: 'SF Pro KR', 'SF Pro Text', HY Gulim, MalgunGothic, HY Dotum, Lexi Gulim, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.form-textbox.form-textbox-entered~.form-label,
.form-textbox:focus~.form-label,
.form-textbox:valid[required]~.form-label,
.form-textbox[placeholder]~.form-label {
    font-size: 12px;
    line-height: 1.75;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: 'SF Pro Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    top: 8px;
    color: #666;
}
.is-error .form-textbox.form-textbox-entered~.form-label,
.is-error .form-textbox:focus~.form-label
.is-error .form-textbox:valid[required]~.form-label,
.is-error .form-textbox[placeholder]~.form-label {
    color: #de071c;
}
.form-table+* {
    margin-top: 1em;
}
.large-12 {
    width: 100%;
}
.tk-body-reduced:not(.button):not(a) {
    color: #666;
}
.tk-body-reduced:lang(ko) {
    letter-spacing: 0;
    font-family: 'SF Pro KR', 'SF Pro Text', HY Gulim, MalgunGothic, HY Dotum, Lexi Gulim, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.tk-body-reduced {
    font-size: 12px;
    line-height: 1.42861;
    font-weight: 400;
    letter-spacing: -.016em;
    font-family: 'SF Pro Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.section-subtitle {
    color: #666;
    font-weight: 600;
    padding-bottom: 2px;
}
.a11y, .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.hide-eyebrow-label .form-dropdown {
    padding-top: 0;
}
.form-dropdown:lang(ko) {
    letter-spacing: 0;
    font-family: 'SF Pro KR', 'SF Pro Text', HY Gulim, MalgunGothic, HY Dotum, Lexi Gulim, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.form-dropdown {
    padding-right: 28px;
    font-size: 17px;
    line-height: 1.23543;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: 'SF Pro Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 3.3em;
    color: #333;
    padding: 1.11765rem 2.35294rem 0 .94118rem;
    text-align: left;
    background: hsla(0,0%,100%,.8);
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background-clip: padding-box;
    margin-bottom: 14px;
    appearance: none;
    min-height: 32px;
}
.form-dropdown:focus {
    border-color: #0070c9;
    outline: 0;
    box-shadow: 0 0 0 3px rgba(131,192,253,.5);
}
.form-dropdown~.form-icon {
    display: block;
    pointer-events: none;
    color: #888;
    right: 18px;
    font-size: 19px;
    font-weight: 300;
    top: 1.3rem;
    line-height: 0;
}
.form-icon {
    display: none;
    position: absolute;
    top: 3px;
    right: 16px;
}
.sk-icon:after {
    color: inherit;
    display: inline-block;
    font-style: normal;
    font-weight: inherit;
    font-size: inherit;
    line-height: 1;
    text-decoration: underline;
    position: relative;
    z-index: 1;
    alt: "";
    text-decoration: none;
}
.sk-icon-chevrondown:after {
    content: "\02C5";
    height: 1px;
}
.field-info-wrapper {
    right: -35px;
    top: 10px;
    position: absolute;
    width: 33px;
    height: 33px;
}
.button.button-help {
    cursor: help;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-caption-link:active, .button-caption-link:disabled,
.button-caption-link:hover, .button-link:active,
.button-link:disabled, .button-link:hover,
.link:active, .link:disabled, .link:hover {
    text-decoration: underline;
    color: #0070c9;
}
.field-info-wrapper>.button {
    width: inherit;
    height: inherit;
}
.button {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: 'SF Pro Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #0070c9;
    background: linear-gradient(#42a1ec,#0070c9);
    border: 1px solid #07c;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    min-width: 30px;
    padding: 4px 15px;
    text-align: center;
    white-space: nowrap;
}
.button-caption-link,
.button-link,
.link {
    color: #0070c9;
    min-width: 0;
    padding: 0;
    white-space: normal;
    background: none;
    border: none;
    text-shadow: none;
    box-shadow: none;
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: 'SF Pro Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-radius: 0;
}
.icon {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
}
i.icon.icon_help.help-anchor.bd-info {
    background: #0070c9;
    width: 1.59em;
    height: 1.59em;
    color: #fff;
    border-radius: 50%;
    font-size: 10px;
    padding-top: .35em;
}
.icon_help:before {
    content: "\003F";
}
.idms-popover {
    display: inline-block;
}
.idms-popover {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #d5d5da;
    z-index: 1001;
    box-shadow: 0 1px 60px rgba(0,0,0,.07);
    padding: 20px;
}
.idms-popover {
    position: relative;
}
.idms-popover-container {
    position: relative;
}
.ltr .idms-popover-wrapper-direction-top.idms-popover-wrapper-align-center {
    transform: translate(-50%, -100%);
}
.idms-popover-wrapper {
    z-index: 1040;
    position: absolute;
}
.idms-popover.idms-popover-type-info:lang(ko) {
    letter-spacing: 0; 
    font-family: 'SF Pro KR', 'SF Pro Text', HY Gulim, MalgunGothic, HY Dotum, Lexi Gulim, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.idms-popover.idms-popover-type-info {
    font-size: 13px;
    line-height: 1.42861;
    font-weight: 400;
    letter-spacing: -.016em;
    font-family: 'SF Pro Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 13px 17px;
    box-shadow: none;
    background-color: #f2f2f2;
    color: #333;
    border-color: transparent;
}
.position-relative {
    position: relative;
}
.ltr .idms-popover-direction-top.idms-popover-align-center:before {
    left: 50%;
}
.idms-popover.idms-popover-type-info:before {
    border-color: transparent;
    background-color: #f2f2f2;
}
.ltr .idms-popover-direction-top:before {
    transform: translate(-50%,-50%) rotate(225deg);
}
.idms-popover-direction-top.idms-popover-align-center:before {
    top: 100%;
}
.idms-popover-direction-top:before {
    width: 16px;
    background-color: #fff;
    height: 16px;
    content: "";
    position: absolute;
    border-left: 1px solid #d5d5da;
    border-top: 1px solid #d5d5da;
    z-index: -1;
}
.form-choice {
    position: absolute;
    top: 3px;
    left: 0;
    opacity: 0;
    cursor: pointer;
    width: 16px;
    height: 16px;
}
.form-choice~.form-label {
    display: block;
    padding-left: 26px;
    margin-top: 13px;
    margin-bottom: 0;
    color: #333;
    cursor: pointer;
}
.form-choice-checkbox~.form-label .form-choice-indicator {
    position: absolute;
    top: 2px;
    left: 0;
}
.form-choice-checkbox+.form-label .form-choice-indicator {
    border-radius: 3px;
}
.form-choice-indicator {
    box-sizing: content-box;
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #ccc;
    background: #fff;
}
.form-choice-checkbox:checked+.form-label .form-choice-indicator:after,
.form-choice-checkbox:checked+.form-label .form-choice-indicator:before {
    color: inherit;
    display: inline-block;
    font-style: normal;
    font-weight: inherit;
    font-size: inherit;
    line-height: 1;
    position: relative;
    z-index: 1;
    alt: "";
    text-decoration: none;
}
.form-choice-checkbox:checked+.form-label .form-choice-indicator:after {
    content: "\2714";
}
.form-choice-checkbox:checked+.form-label .form-choice-indicator:after {
    font-size: 14px;
    line-height: 1.47384;
    font-weight: 400;
    letter-spacing: .015em;
    font-family: 'SF Pro Display', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    top: -.46471rem;
    left: -.58824rem;
    padding: 0;
    width: 1.47059rem;
    vertical-align: top;
}
.form-choice-checkbox:checked+.form-label .form-choice-indicator {
    background: #0070c9;
    text-align: center;
}
.form-choice:checked~.form-label .form-choice-indicator {
    border: 6px solid #0070c9;
    width: .23529rem;
    height: .23529rem;
}
.form-choice.focused+.form-label .form-choice-indicator,
.form-choice:focus+.form-label .form-choice-indicator {
    color: #0070c9;
    box-shadow: 0 0 0 3px rgba(131,192,253,.5);
}
.field-caption {
    margin-bottom: 14px;
    display: block;
}
.tk-caption {
    font-size: 10px;
    line-height: 1.33341;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: 'SF Pro Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.updates .label-small {
    display: block;
    color: #333;
}
.field-caption {
    color: #666;
}
.privacy-wrapper {
    max-width: 465px;
    padding-bottom: 30px;
    padding-top: 20px;
    color: #666;
}
.tk-caption:lang(ko) {
    letter-spacing: 0;
    font-family: 'SF Pro KR', 'SF Pro Text', HY Gulim, MalgunGothic, HY Dotum, Lexi Gulim, 'Helvetica Neue', Helvetica, Arial, sans-serif;   
}
.privacy-wrapper .privacy-icon {
    margin: 10px auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url("https://appleid.cdn-apple.com/static/bin/cb1900903086/dist/assets/privacy-icon.png");
    width: 35px;
    height: 28px;
}
.web .create-form .toolbar-footer .flow-controls .nav-action {
    font-size: 15px;
}
.web .create-form .toolbar-footer .flow-controls {
    margin: auto;
    text-align: center;
    float: none !important;
    padding: 0 0 40px;
}
.toolbar-footer .buttton-group:not(.full-width) {
    display: flex !important;
    justify-content: flex-end;
    flex-direction: row-reverse;
}
.buttton-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.toolbar-footer .button-primary:last-child,
.toolbar-footer .button-secondary:last-child,
.toolbar-footer .first {
    margin-left: 0;
}
#ac-globalfooter .ac-gf-content {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    padding-left: 22px;
    padding-right: 22px;
}
#ac-globalfooter {
    font-weight: normal;
    text-size-adjust: 100%;
}
#ac-globalfooter,
#ac-globalfooter:before,
#ac-globalfooter:after,
#ac-globalfooter *,
#ac-globalfooter *:before,
#ac-globalfooter *:after {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    pointer-events: auto;
    letter-spacing: normal;
}
#ac-globalfooter,
#ac-globalfooter input,
#ac-globalfooter textarea,
#ac-globalfooter select,
#ac-globalfooter button {
    font-synthesis: none;
    direction: ltr;
    text-align: left;
}
#ac-globalfooter {
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: 'SF Pro Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #f5f5f7;
    color: #6e6e73;
    min-width: 1024px;   
    overflow: hidden;
    position: relative;
    z-index: 1;
}
#ac-globalfooter .ac-gf-label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: 0;
}
#ac-globalfooter .ac-gf-footer {
    border-top: 1px solid #d2d2d7;
    padding: 17px 0 21px;
}
@supports (padding: calc(max(0px))) {
    #ac-globalfooter .ac-gf-footer {
        padding-bottom: 21px;
    }
}
#ac-globalfooter article,
#ac-globalfooter aside,
#ac-globalfooter details,
#ac-globalfooter figcaption,
#ac-globalfooter figure,
#ac-globalfooter footer,
#ac-globalfooter header,
#ac-globalfooter nav,
#ac-globalfooter section {
    display: block;
}
#ac-globalfooter *,
#ac-globalfooter *:before,
#ac-globalfooter *:after {
    font-size: 1em;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: inherit;
}
#ac-globalfooter .ac-gf-footer-shop {
    --footer-mini-shop-link-color: #06c;
    max-height: 9999px;
    padding-bottom: 3px;
}
#ac-globalfooter .ac-gf-footer-shop a,
#ac-globalfooter .ac-gf-footer-shop a:hover {
    color: var(--footer-mini-shop-link-color);
}
#ac-globalfooter a {
    color: #424245;
    text-decoration: none;
}
#ac-globalfooter a:hover {
    text-decoration: underline;
}
#ac-globalfooter .ac-gf-footer-locale {
    float: right;
    margin-top: 5px;
    position: relative;
    top: -3px;
    z-index: 2;
    white-space: nowrap;
}
#ac-globalfooter .ac-gf-footer-locale-link {
    border-left: 1px solid #d2d2d7;
    margin-left: 7px;
    padding-left: 11px;
    display: inline;
}
#ac-globalfooter .ac-gf-footer-locale-link:first-child {
    border-left: none;
    margin-left: 0;
    padding-left: 0;
}
#ac-globalfooter .ac-gf-footer-legal {
    position: relative;
    top: -3px;
    z-index: 1;
}f
#ac-globalfooter .ac-gf-footer-legal::before,
#ac-globalfooter .ac-gf-footer-legal::after {
    content: ' ';
    display: table;
    clear: both;
}
#ac-globalfooter .ac-gf-footer-legal-copyright,
#ac-globalfooter .ac-gf-footer-legal-links {
    margin-right: 30px;
    float: left;
    margin-top: 5px;
}
#ac-globalfooter .ac-gf-footer-legal-copyright {
    max-height: 9999px;
}
#ac-globalfooter .ac-gf-footer-legal-link {
    border-right: 1px solid #d2d2d7;
    margin-right: 7px;
    padding-right: 10px;
    display: inline-block;
    white-space: nowrap;
}
@import "../style.scss";