include partials/html-head.pug
body(dir="ltr")
    div(darker-dark-theme).wtd-app-html-tag
        div#content.wtd-app
            include partials/masthead.pug
            include partials/app-drawer.pug
            div#page-manager.wtd-page-manager-html-tag.wtd-app