doctype html
html(lang="ko")
    head
        meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1")
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title=tabTitle
        link(rel="shortcut icon", href="#", type="image/x-icon" defer)
