include html-head.pug

div(style="display: flex;") 
    button guide
    a(href="/")
        button logo(home) 
    input(name="search_query" type="text")
    button upload
    a(href="/join") 
        button join
    a(href="/login") 
        button login