include ../partials/html-head.pug
include ../partials/masthead.pug

body 
    main
        div.intro
            h1 Wetube Account 생성
            div.intro-text
                | 계정을 생성하면 동영상을 업로드 및 기능들을 이용할 수 있습니다.
        div.account-info-section 
            form(method="POST") 
                div.flow-section
                    input(name="name" required type="text" placeholder="이름").form-textbox
                    input(name="username" required type="text" placeholder="유저네임").form-textbox
                    if alreadyExistError
                        div.form-message-wrapper
                            span(dir="auto").form-message 이미 그 유저네임/이메일 을 쓰는 유저가 존재합니다.
                div.flow-section
                    h3 국가/지역
                    select(name="location" aria-required="true")
                        option(value="sun") 태양
                        option(value="mercury") 수성
                        option(value="venus") 금성
                        option(value="earth") 지구
                        option(value="mars") 화성
                        option(value="jupiter") 목성 
                        option(value="saturn") 토성 
                        option(value="uranus") 천왕성 
                        option(value="neptune") 해왕성
                        option(value="pluto") 명왕성
                        option(value="other-planetary-system") 그 외 행성
                    input(name="birthDate" required type="text" placeholder="생년월일").form-textbox                              
                div.flow-section
                    input(name="email" required type="email" placeholder="name@example.com").form-textbox 
                    if alreadyExistError
                        div.form-message-wrapper
                            span(dir="auto").form-message 이미 그 유저네임/이메일을 쓰는 유저가 존재합니다.                       
                div.password-wrapper
                    input(name="password" required type="text" placeholder="암호").form-textbox                              
                    input(name="passwordConfirm" required type="password" placeholder="암호 확인").form-textbox
                    if pwConfirmError
                        div.form-message-wrapper
                            span(dir="auto").form-message 암호를 재입력하십시오
                input(type="submit" value="계속")     
